<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>UsersController</title>
    <style>table th,
    table td{padding:10px;}
    row {
        font-style: italic;
    }
    </style>
</head>

<body>
    <h1>Список пользователей</h1>

    <a href="/showForm">Добавить пользователя</a>
    <br/><br>
    <table border="4">

        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Возраст</th>
          <th>Город</th>
          <th>Роли</th>
          <th>Действия</th>
        </tr>

        <tr th:each="user:${users}">



        <td th:utext="${user.userName}">First name</td>
        <td th:utext="${user.surname}">Surname</td>
        <td th:utext ="${user.age}">Age</td>
        <td th:utext="${user.city}">City</td>

            <td >
                <ul>
                    <th:block th:each="role : ${user.roles}">
                        <li th:text="${role.role}">ROLE_USER</li>
                    </th:block>
                </ul>
            </td>


        <td>
            <a th:href="@{/edit/{id}(id=${user.getId()})}">Редактировать</a>
            <a th:href="@{/{id}(id=${user.getId()})}">Удалить</a>
        </td>
        </tr>





    </table>

</body>
</html>