<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about user</title>
</head>
<body>
<h1>Редактирование пользователя</h1>
<form th:action="@{/{id}(id = ${user.getId()})}"
      th:object="${user}"
      th:method="PATCH">

<p>
    <label for="firstName"> Редактировать имя : </label>
    <input type="text" th:field ="*{firstName}" id="firstName"/>
</p>

<p>
    <label for="surname" > Редактировать фамилию: </label>
    <input type="text" th:field ="*{surname}" id ="surname"/>
</p>

<p>
    <label for="city" >Редактировать город </label>
    <input type="text" th:field="*{city}" id="city"/>
</p>

<p>
    <label for="age"> Редактировать возраст </label>
    <input type ="text" th:field="*{age}" id="age"/>
</p>

<p>
    <input type="submit" value="сохранить изменения">
</p>


</form>


</body>
</html>