<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about user</title>
</head>
<body>
<h1>Edit user </h1>
<form th:action="@{/{id}(id = ${user.getId()})}"
      th:object="${user}"
      th:method="PATCH">

<p>
    <label for="firstName"> Enter name: </label>
    <input type="text" th:field ="*{firstName}" id="firstName"/>
</p>

<p>
    <label for="surname" > Enter surname: </label>
    <input type="text" th:field ="*{surname}" id ="surname"/>
</p>

<p>
    <label for="city" > Enter city: </label>
    <input type="text" th:field="*{city}" id="city"/>
</p>

<p>
    <label for="age"> Enter age: </label>
    <input type ="text" th:field="*{age}" id="age"/>
</p>

<p>
    <input type="submit" value="update">
</p>


</form>


</body>
</html>